{% extends 'core/base.html' %}
{% block title %} {{page_title}} {% endblock title %}
{% block container-fluid %}
    <!-- CONTENCT START -->
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-sm-12 px-0 ">
                <img src="https://picsum.photos/id/41/1200/450" alt="" class="w-100">
            </div>
        </div>
        <div class="row bg-primary p-4 ">
            <div class="col-sm-8 offset-sm-2">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2 class="text-center display-1">About Us</h2>
                    <p class="text-center">Or, keep it light and add a border for some added definition to the
                        boundaries of your content. Be sure to look under the hood at the source HTML here as we've
                        adjusted the alignment and sizing of both column's content for equal-height.</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock container-fluid %}
    {% block container %}

    
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h2>Vision</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repudiandae nobis repellat culpa blanditiis, architecto, earum, atque saepe excepturi quidem quasi eius suscipit pariatur! Nostrum architecto accusamus ipsum necessitatibus tempore!</p>
                <p>Itaque officiis magni suscipit quos nulla dolor, minima minus placeat voluptatibus voluptate eius aperiam. Dignissimos, sint consequatur autem impedit pariatur labore rem velit inventore nobis, quo magni eligendi iure libero.</p>
                <p>Nobis libero nisi suscipit rerum dignissimos iusto sequi, facere maiores sapiente voluptatem asperiores deserunt, autem nesciunt expedita tempora. Repellat perferendis in ut dolorem doloribus, veritatis eligendi sint officiis atque. Modi.</p>
                <hr>
                <h2>Mission</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae iure voluptatibus quis illum cupiditate nobis aliquam dolorum cum laboriosam, possimus quibusdam cumque est architecto ut placeat exercitationem at itaque accusantium!</p>
              <p>Quod nemo beatae facilis consectetur corrupti voluptate assumenda, possimus at accusamus magni maiores voluptatum illum tempore soluta dolorem ratione repellendus esse, odit quia quas sequi sunt atque? Facilis, explicabo obcaecati!</p>
              <p>Earum commodi pariatur natus tenetur tempora eum? Cum, repellat molestiae. Esse dolores nam deserunt repellendus optio eveniet quos voluptate quis officiis aperiam magnam distinctio aspernatur, qui asperiores, consequatur quas animi.</p>
              <p>Sit obcaecati culpa veniam molestias minima veritatis maiores deleniti natus ducimus dolores maxime perferendis amet sunt, numquam dolorum pariatur iusto. Aperiam odio error nisi laudantium ducimus accusamus quod, velit natus.</p>
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Libero, beatae.</li>
                <li>Esse, illum?</li>
                <li>Aliquid, cupiditate?</li>
            </ul>
            </div>
        </div>
    
        {% endblock container %}


    <!-- ========== Start Projects ========== -->


    <!-- ========== End Projects ========== -->
   
    <!-- PRODUCTS-->

    <!-- PRODUCTS END-->

    <!-- FOOTER -->
    <!-- FOOTER -->
    