{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{%endblock title%} | Django Project</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body">
    <!-- NAVBAR -->
    {% include 'core/navbar.html'%}
    <!-- NAVBAR end -->
    {% block container-fluid %}
    {% endblock container-fluid %}
    <!-- NAVBAR END -->
    <div class="container">
         {% block container %}
         {% endblock container %}
       {% include 'core/projects.html'%}
    </div>
    <!-- ========== End Projects ========== -->
    <!-- FOOTER -->
   {% include 'core/footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>

</html>