<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Django Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/'%}active{% endif %} " aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/hakkimizda/'%}active{% endif %}" href="{%  url 'about_us' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/iletisim/'%}active{% endif %}" href="{%  url 'contact_us' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/vizyonumuz/'%}active{% endif %}" href="{%  url 'vision' %}">Visions</a>
                </li>

            </ul>
        </div>
    </div>
</nav>